<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="to.rent.rentto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home.HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Profile.ProfileListingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Login.PolicyAgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.ProfilePreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Share.ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.AccountSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.ChangeProfilePictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Listing.ListingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Listing.ItemsListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Camera.CameraActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="jv8hx.app.goo.gl" android:scheme="http"/>
                <data android:host="jv8hx.app.goo.gl" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Messages.NotificationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Listing.FilterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".Home.TutorialActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".Messages.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Messages.MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Messages.ChatActivity" />
        <activity android:name=".Login.VideoActivity" />
        <activity android:name=".Messages.RatingActivity" />
        <activity
            android:name=".Home.WelcomeActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Remind.RemindActivity"></activity>
    </application>

</manifest>
